{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %} SF YMCA Pool Calendars {% endblock title %}

<!-- prettier-ignore -->
{% block header %} SF YMCA Pool Calendars {% endblock header %}

<!-- prettier-ignore -->
{% block content %}
<section class="branches">
  <ul class="branch-list">
    {% for branch in branches %}
    <li class="branch-list-item">
      <a href="{% url 'branch' branch %}">{{ branch }}</a>
      (<a href="{% url 'branch_calendar' branch %}">calendar</a>)
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
